<article class="my-course">
  <a href="{{url}}">
    <section class="cover" style="background-image: url('{{courseImageUrl}}')">
      <div class="arrow">â¯</div>
    </section>

    <section class="info">
      <hgroup>
        <h3>{{courseTitle}}</h3>
        <p style="font-style:italic">Class Starts - {{courseStartDate}}</p>
      </hgroup>
      <section class="course-status course-status-completed">
        <p>
            Course Started - <span>{{courseStartDate}}</span>
        </p>
      </section>
    </section>
  </a>
</article>