<section class="user-info">
  <ul>
    <li>
      <h2 class="account-details">Account Details</h2>
    </li>
    <li>
      <span class="title">Full Name</span><span class="data">{{name}}</span>
    </li>
    <li>
      <span class="title">Facebook</span><span class="data"><a href="#">{{facebook}}</a></span>
    </li>
    <li>
      <span class="title">Google+</span><span class="data"><a href="#">{{google}}</a></span>
    </li>
    <li>
      <span class="title">LinkedIn</span><span class="data"><a href="#">{{linkedin}}</a></span>
    </li>
    <li>
      <span class="title">Twitter</span><span class="data"><a href="#">{{twitter}}</a></span>
    </li>

    </li>
    <li class="editorlink">
        <a href="#edit_profile">Edit Profile</a>
    </li>
  </ul>
</section>